@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600&display=swap');

body {
  margin: 0;
  font-family: 'Lora', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}

h1 {
  font-size: 500%;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  font-size: 200%;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
}

p {
  font-size: 100%;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
}